#header-buttons button{
    float: right;
    background-color: #b0b0b0;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

#header-buttons button:hover {
    background-color: #909090;
    transform: translateY(-2px);
}

#button-profile {
    background-color: #b0b0b0;
}

#button-profile:hover {
    background-color: #808080;
}

#button-logout {
    background-color: #b0b0b0;
}

#button-logout:hover {
    background-color: #707070;
}



/* Layout */
.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Profile */
.profile-content {
    text-align: center;
    margin-bottom: 20px;
}

#profile-image {
    width: 300px; 
    height: auto;
    border-radius: 10px; 
}
 /* Buttons like and unlike */
.profile-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#button-like {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(204, 30, 30);
    border-radius: 10px;
}

#button-unlike {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(204, 30, 30);
    border-radius: 10px;
}

#button-like:hover {
    background-color: rgb(153, 40, 40);
}

#button-unlike:hover {
    background-color: rgb(153, 40, 40);
}

#first-user {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: rgb(204, 30, 30);
    border-radius: 10px;
}

#first-user:hover {
    background-color: rgb(153, 40, 40);
}
